{% extends 'base.html' %}

{% block title %} Add Tasks {% endblock %}

{% block body %}

    <main class="container">
        <h1>Add Tasks</h1>


        <form method="POST" class="form-control">
            <div class="form-row">

                <label for="create-task" class="form-label">Add TO DO</label> <br>
                <input type="text" class="col-lg-6 col-md-6 col-sm-12" id="create-task" name="todo_task"
                       placeholder="Add +">

                <br><br>

                <select class="form-select col" name="todo_status" aria-label="Select status of task">
                    <option selected disabled>Status</option>
                    <option value="Not Started">Not Started</option>
                    <option style="background-color: yellow" value="Working">Working</option>
                    <option style="background-color: green" value="Finished">Finished!</option>
                </select>

                <button type="submit" class="btn btn-primary my-button">
                    <i class="fas fa-plus"></i>
                    Add
                </button>

            </div>
        </form>
    </main>

{% endblock %}