{% extends 'base.html' %}

{% block title %} View Tasks {% endblock %}

{% block body %}

    <main class="container">
        <h1>View Tasks</h1>
        <div style="margin-top: 5rem;">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Task</th>
                    <th scope="col">Time Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>

                </tr>
                </thead>

                <tbody>
                {% for row in all_todos_query %}

                    <tr id="id_{{ row.id }}">
                        <th>{{ row.id }}</th>
                        <td>{{ row.task }}</td>
                        <td>{{ row.date_created }}</td>

                        {% if row.status == 'Not Started' %}
                            <td>
                                <span class="badge rounded-pill bg-secondary my-badge-styles">{{ row.status }}</span>
                            </td>

                        {% elif row.status == 'Working' %}
                            <td style="color: yellow">
                                <span class="badge rounded-pill bg-warning my-badge-styles">{{ row.status }}</span>
                            </td>

                        {% elif row.status == 'Finished' %}
                            <td style="color: green;">
                                <span class="badge rounded-pill bg-success my-badge-styles">{{ row.status }}</span>
                            </td>

                        {% endif %}
                        <td>
                            <a class="btn btn-primary"
                               href="{{ url_for('update_to_do', id_number = row.id) }}">
                            <i class="fas fa-edit"></i>
                            Update
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger" value="{{ row.id }}"
                                    onclick="deleteTask(this.value)">
                                <i class="fas fa-trash-alt"></i>
                                Delete
                            </button>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </main>


    <script src="{{ url_for('static', filename='js/delete_ajax.js') }}"></script>

    {# axios cdn #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}